@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: hsl(0, 0%, 9%);
}

@theme {
  --color-primary-50: #e8eef1;
  --color-primary-100: #cfdde4;
  --color-primary-200: #a6c1d0;
  --color-primary-300: #7fa5bb;
  --color-primary-400: #598aa7;
  --color-primary-500: #284b63; /* Main primary */
  --color-primary-600: #1f3c50;
  --color-primary-700: #162171;
  --color-primary-800: #10202e;
  --color-primary-900: #0a151f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
